<footer>
    <div class="pie_pagina">
    <div class="group1">
        <div class="box">
            <h4>ofertas y promociones</h4>
            <h2>No te pierdas nuestras ofertas!</h2>
            <mat-form-field class="form" >
                <input matInput placeholder="Tu direccion de correo electronico">
            </mat-form-field>
        </div>
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../../../assets/images/icon.png">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Conversemos!</h2>
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
            <div class="socialMedia">
                <a href="#"><img src="../../../../assets/images/fb.png"></a>
                <a href="#"><img src="../../../../assets/images/ig.png"></a>
                <a href="#"><img src="../../../../assets/images/in.png"></a>
                <a href="#"><img src="../../../../assets/images/wp.png"></a>
            </div>
        </div>
    </div>

    <div class="group2">
        <small>&copy; 2023 <b>MacroPay</b> - Todos los derechos reservados.</small>
    </div>
</div>
</footer>